/* primary #1D3750 */

body,html
{
	background-color:#fff;
	margin:0;
	padding:0;
	height:100%;
	overflow:auto;
}
a
{
	color:#6D8BA8;
}
th, td
{
	border:1px solid #999;
}
.box, .generalbox
{
	border:none;
	padding:10px;
}
#page-header
{
	position:relative;
	height:220px;
	background-color:#111;
	border-top:7px solid #222;
	background-repeat:no-repeat; 
}
.headermain
{
	font-size:48px;
	font-weight:600;
	color:#000;
	text-align:center;
	float:left;
	margin-top:38px;
}
.headermenu
{
	margin:0px;
	margin-right:20px;
	padding:10px;
	background-color:#222;
	color:#ccc;
	float:right;
}
#page-content
{
	background-color:#fff;
}
#page
{
	overflow:hidden;
}

/*
*
* LOGO
*
*/

#main_logo
{
	height:140px;
	width:300px;
	background-image:url([[setting:image]]);
	background-position:center center;
	background-repeat:no-repeat;
	float:left;
}

/* 
* 
* CUSTOM MENU STYLES --start--
*
*/
.yu3-menuitem,#custommenu .yui3-menu-label, #custommenu .yui3-menu .yui3-menu .yui3-menu-label
{
        background-color:#333;
}
#custommenu, #custommenu div, #custommenu li{height:45px !important;}
.yui3-skin-sam .yui3-menu-content, .yui3-skin-sam .yui3-menu-horizontal .yui3-menuitem-content{border:none;}
.yui3-skin-sam .yui3-menu-content, .yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-content{border:none;}
#custommenu ul{margin-left:35px !important;display:inline-block !important;border-left:1px solid #000;border-right:1px solid #444;}
#custommenu ul ul{margin-left:0 !important;}
#custommenu
{
        position:absolute;
        bottom:35px;
        width:100%;
        background-color:#333;
        border-bottom:1px solid #111;
}
#custommenu li
{
        border-left:1px solid #444;
        border-right:1px solid #000;
}
#custommenu li:hover
{
        background-color:transparent; 
}
#custommenu a
{
        margin:0 !important;
        color:#ccc !important;
        line-height:45px !important;
        font-weight:bold !important;
        font-size:110% !important;
        padding:0px 12px 0px 12px !important;
        display:inline-block;
        text-decoration:none;
}
#custommenu a:hover
{
        color:#fff !important;
        background-color:#333 !important;
        border:none !important;
}
.yui3-skin-sam .yui3-menu-horizontal .yui3-menu-label, .yui3-skin-sam .yui3-menu-horizontal .yui3-menuitem-content {border:none !important;}
#custommenu .yui3-menu-horizontal .yui3-menu-content {border:none !important;}
#custommenu .yui3-menu-horizontal ul ul a{height:45px !important;display:block;border-top:1px solid #333;}


/* 
* 
* CUSTOM MENU STYLES --end--
*
*/

/*
* 
* NAVBAR AND BREADCRUMBS --start--
*
*/

#page-header .navbar
{
	position:absolute;
	bottom:0px;
	width:100%;
}
.breadcrumb
{
	color:#444;
	margin-left:10px;
}
.breadcrumb .arrow
{
	color:#999;
}

/*
* 
* NAVBAR AND BREADCRUMBS --end--
*
*/

/*
*
* BLOCKS --start--
*
*/

.block
{
	border:none;
	overflow:auto;
	background-color:#fff;
	border:1px solid #999;
}
.block .header
{
	padding-top:10px;
	padding-bottom:10px;
	color:#fff;
	margin:5px;
}
.block .header h2
{
	margin-left:5px;
}

/*
*
* BLOCKS --end--
*
*/

/*
*
* DOCK --start--
*
*/

#dock
{
	color:#333;
	border:1px solid #666;
}
#dockeditempanel .dockeditempanel_content{background:transparent;border:none;}
#dockeditempanel
{
	border:1px solid #999;
	border-left:none;
	background-color:#fff;
}
#dockeditempanel h2
{
	padding-left:5px;
}
.dockeditempanel_hd
{
	padding-top:10px;
	padding-bottom:10px;
	color:#fff;
	margin:5px;
}
.dockeditem_container h2
{
	color:#fff;
	padding:15px;
	font-weight:600;
}

/*
*
* DOCK --end--
*
*/

/*
*
* LOGIN --start--
*
*/

.loginpanel
{
	width:450px;
	margin:auto;
	background-color:#fff;
	overflow:auto;
}
.loginpanel h2
{
	font-size:30px;
	color:#fff;
}
.loginpanel .desc
{
	font-size:12px;
	color:#666;
}
.loginpanel form
{
	margin-top:50px;
}
.loginpanel .guestsub form
{
	margin-top:0;
}
.loginpanel .rememberpass
{
	margin-top:15px;
}

/*
*
* LOGIN --end--
*
*/

/*
*
* FOOTER --start--
*
*/

#page-footer
{
	width:100%;
	color:#333;
	padding:8px;
	border:none;
}
#page-footer img
{
	margin-top:5px;
}
#footer_logo
{
	width:160px;
	height:59px;
	background-image:url([[pix:theme|elightenmentlearning_logo]]);
	background-repeat:no-repeat;
	background-position:center;
	margin:auto;
}
#powered_by
{
	margin-top:10px;
	margin-bottom:-5px;
	padding-bottom:0;
}

/*
*
* FOOTER --end--
*
*/

/* 
* 
* CSS3 --start--
*
*/

#custommenu, .block .header, .dockeditempanel_hd, .dockeditem_container, .yui3-menuitem-content, .yui3-menu-label, .loginpanel h2
{
	background: #333333;
	background: -moz-linear-gradient(top,  #333333 0%, #262626 68%, #333333 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(68%,#262626), color-stop(100%,#333333));
	background: -webkit-linear-gradient(top,  #333333 0%,#262626 68%,#333333 100%);
	background: -o-linear-gradient(top,  #333333 0%,#262626 68%,#333333 100%);
	background: -ms-linear-gradient(top,  #333333 0%,#262626 68%,#333333 100%);
	background: linear-gradient(to bottom,  #333333 0%,#262626 68%,#333333 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 );
}
#dock
{
	background: #efefef;
background: -moz-linear-gradient(left,  #efefef 0%, #e5e5e5 50%, #efefef 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#efefef), color-stop(50%,#e5e5e5), color-stop(100%,#efefef));
background: -webkit-linear-gradient(left,  #efefef 0%,#e5e5e5 50%,#efefef 100%);
background: -o-linear-gradient(left,  #efefef 0%,#e5e5e5 50%,#efefef 100%);
background: -ms-linear-gradient(left,  #efefef 0%,#e5e5e5 50%,#efefef 100%);
background: linear-gradient(to right,  #efefef 0%,#e5e5e5 50%,#efefef 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#efefef',GradientType=1 );

}
#custommenu a, .block .header, #dockeditempanel h2
{
	text-shadow: 0px -1px #000;
}
.headermenu
{
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
.block, .loginpanel
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#page-header
{
	background: #fff;
	background: -moz-linear-gradient(top,  #cecece 0%, #ffffff 22%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecece), color-stop(22%,#ffffff));
	background: -webkit-linear-gradient(top,  #cecece 0%,#ffffff 22%);
	background: -o-linear-gradient(top,  #cecece 0%,#ffffff 22%);
	background: -ms-linear-gradient(top,  #cecece 0%,#ffffff 22%);
	background: linear-gradient(to bottom,  #cecece 0%,#ffffff 22%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ffffff',GradientType=0 );
}
.headermenu, .block, #custommenu
{
	-moz-box-shadow:    2px 2px 10px rgba(33,33,33,0.6);
	-webkit-box-shadow: 2px 2px 10px rgba(33,33,33,0.6);
	box-shadow:         2px 2px 10px rgba(33,33,33,0.6);
}
.loginpanel
{
	-moz-box-shadow:    2px 2px 10px rgba(33,33,33,0.8);
	-webkit-box-shadow: 2px 2px 10px rgba(33,33,33,0.8);
	box-shadow:         2px 2px 10px rgba(33,33,33,0.8);
}
#page-footer
{
	-moz-box-shadow:    0px -6px 10px #fff;
	-webkit-box-shadow: 0px -6px 10px #fff;
	box-shadow:         0px -6px 10px #fff;
}
#dockeditempanel
{
	-moz-box-shadow:    6px 6px 10px rgba(33,33,33,0.8);
	-webkit-box-shadow: 6px 6px 10px rgba(33,33,33,0.8);
	box-shadow:         6px 6px 10px rgba(33,33,33,0.8);
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-topright: 8px;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
}

/* 
* 
* CSS3 --end--
*
*/